<% @album_categories.each do |album| %>

<h1><%= album[:category] %></h1>

<div class='index-container'>
<% @albums.each do |album|%>

<div class='index-title'>
<a href="<%= album_path(movie) %>">
<img class="index-img" src="<%= movie.img_url %>" alt="<%= movie.title%>">
</a>

</div>
<% end %>
</div>
<% end %>

