
<%# @album_categories.each do |album| %>
<div class="parent">
<div class="div1">
 <h1 style="color: rgb(76, 161, 20);">Albums: <%# album[:category] %></h1>

<div class='index-container'>
    <% @albums.each do |album|%>

    <div class='index-title'>
        <a href="<%= album_path(album) %>">
         <img class="index-img" src="<%= album.img_url %>" alt="<%= album.title%>">
        </a>

    </div>
    <% end %>
</div>
</div>
</div>

