/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    background-color: rgb(30, 215, 96);
 }


 img {
     width: 250px;
     border-radius: 8px;
     box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 1)
 }




body {
    font-family: Arial, sans-serif;
    font-size: 11px;
}


.mixed {
    background-color: rgb(31, 117, 245);
    padding: 10px;
    width: 60%;
    font-size: 15px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #8f8f8f;
    margin: 3;
 }

 .negative {
    background-color: rgb(194, 70, 62);
    padding: 10px;
    width: 60%;
    font-size: 15px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #8f8f8f;
    margin: 3;
 }

.positive {
    background-color: rgb(76, 161, 20);
    padding: 10px;
    width: 60%;
    font-size: 15px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #8f8f8f;
    margin: 3;
}


.index-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: -10;
    /* border: 1px solid white; */
    padding-top: 60px;
  }
  
   .index-tile {
     margin: 15px 3px 0px 3px;
     height: 300px;
     /* border: 1px solid white; */
    }
    
    .index-img {  
      height: 100%; 
      border-radius: 10px;
      margin-left: 10px;
      margin-left: 10px;
    }


    .index-tile:hover {
      transform: scale(1.25);
      z-index: 1000;
      overflow: visible;
      transition: 1.5s;
      box-shadow: 0px 0px 20px;
    }

    .submit {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer; 
        border-radius: 10px;
        width: 27%;
        right: 200px;
        position: absolute;

    }

    .submit2 {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer; 
        border-radius: 10px;
        width: 40%;

    }

    .form {
        width: 60%;
    }


